<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <title>FreedomWall's wallpaper</title>
  <meta name="description" content="FreedomWallの壁紙表示用のWebページです。">
  <meta name="author" content="tasuren">
  <script>
    window.addEventListener("load", function () {
      const PARAMS = (new URL(location)).searchParams;
      document.getElementById("background").setAttribute(
        "src", window.__WINDOWS__ ?
          `https://wry.${PARAMS.get("imagePath")}`.replace(/\\/g, "/").replace("C:/", "c://")
            : PARAMS.get("imagePath")
      );
    });
  </script>
<body>
  <div id="background-container">
    <img class="background" id="background" src="" style="width: 0px; height: 0px;" />
  </div>
</body>
</html>