<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <title>FreedomWall's wallpaper</title>
  <meta name="description" content="FreedomWallの壁紙表示用のWebページです。">
  <meta name="author" content="tasuren">
  <script>
    window.addEventListener("load", function (_) {
      const PARAMS = (new URL(location)).searchParams;
      let iframe = document.getElementById("background");
      // 動画再生の設定を行う。
      var value = ""; let id = PARAMS.get("id");
      var url = `https://www.youtube.com/embed/${id}?iv_load_policy=3`;
      for (let key of PARAMS.keys()) {
        value = PARAMS.get(key);
        if (key == "id" || !value) continue;
        if (value == "on") value = "1"
        else if (value == "off") value = "0";
        if (key == "loop" && value == "1")
          url += `&loop=1&playlist=${id}`
        else url += `&${key}=${window.escape(value)}`;
      };
      iframe.src = url;
    });
  </script>
<body>
  <div id="background-container">
    <iframe style="pointer-events: none;" class="background" id="background" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</body>
</html>