{% import "macros.html" as macros %}
{% extends "layout.html" %}
{% block title %}Home{% endblock title %}
{% block head %}{{ super() }}
  <script type="module">
    import { openWebsite } from "./freedomwall/utils.js";

    window._openWebsite = (url) => openWebsite(url, () => {});
  </script>
{% endblock head %}
{% block content %}
  <h1>Credit</h1>
  <code>(c) tasuren 2022</code>
  <div class="language ja">
    <h2>作者</h2>
    tasuren
    <h3>リンク</h3>
    <ul>
      <li>{{ macros::a(inner="WebSite", url="http://tasuren.f5.si") }}</li>
      <li>{{ macros::a(inner="GitHub", url="https://github.com/tasuren") }}</li>
      <li>{{ macros::a(inner="Twitter", url="https://twitter.com/tasuren1") }}</li>
      <li>{{ macros::a(inner="Buy Me a Coffee", url="https://www.buymeacoffee.com/tasuren") }}</li>
    </ul>
    <h2>謝辞</h2>
    以下はFreedomWallで使用しているライブラリです。<br>
  </div>
  <div class="language en">
    <h2>Author</h2>
    tasuren
    <h3>Link</h3>
    <ul>
      <li>{{ macros::a(inner="WebSite", url="http://tasuren.f5.si") }}</li>
      <li>{{ macros::a(inner="GitHub", url="https://github.com/tasuren") }}</li>
      <li>{{ macros::a(inner="Twitter", url="https://twitter.com/tasuren1") }}</li>
      <li>{{ macros::a(inner="Buy Me a Coffee", url="https://www.buymeacoffee.com/tasuren") }}</li>
    </ul>
    <h2>Acknowledgments</h2>
    Below are the libraries used by FreedomWall.<br>
  </div>
  <h3>Rust</h3>
  <p class="language ja">Rustのライブラリは{{ macros::a(url="https://crates.io", inner="crates.io") }}にあるものです。</p>
  <p class="language en">Library of rust at {{ macros::a(url="https://crates.io", inner="crates.io") }}.</p>
  <h4 class="language ja">一般</h4>
  <h4 class="language en">General</h4>
  <ul>
    {{ macros::lib(
      name="wry", copy="Copyright (c) 2020-2021 Ngo Iok Ui & Tauri Apps Contributors",
      url="https://github.com/tauri-apps/wry/blob/dev/LICENSE-MIT"
    ) }}
    {{ macros::lib(
      name="mime_guess", copy="Copyright (c) 2015 Austin Bonander",
      url="https://github.com/abonander/mime_guess/blob/master/LICENSE"
    ) }}
    {{ macros::lib(
      name="url", copy="Copyright (c) 2013-2022 The rust-url developers",
      url="https://github.com/servo/rust-url/blob/master/LICENSE-MIT"
    ) }}
    {{ macros::lib(
      name="urlencoded", copy="Copyright (c) 2014 iron",
      url="https://github.com/iron/urlencoded/blob/master/LICENSE"
    ) }}
    {{ macros::lib(
      name="serde", copy="Copyright 2022 serde-rs",
      url="https://github.com/serde-rs/serde/blob/master/LICENSE-APACHE"
    ) }}
    {{ macros::lib(
      name="serde_json", copy="Copyright 2022 serde-rs",
      url="https://github.com/serde-rs/json/blob/master/LICENSE-APACHE"
    ) }}
    {{ macros::lib(
      name="platform-dirs", copy="Copyright (c) 2019 Caleb Bassi",
      url="https://github.com/cjbassi/platform-dirs-rs/blob/master/LICENSE"
    ) }}
    {{ macros::lib(
      name="rfd", copy="Copyright (c) 2022 Bartłomiej Maryńczak",
      url="https://github.com/PolyMeilex/rfd/blob/master/LICENSE"
    ) }}
    {{ macros::lib(
      name="lazy_static", copy="Copyright (c) 2010 The Rust Project Developers",
      url="https://github.com/rust-lang-nursery/lazy-static.rs/blob/master/LICENSE-MIT"
    ) }}
    {{ macros::lib(
      name="rust-i18n", copy="Copyright (c) 2021 Longbridge",
      url="https://github.com/longbridgeapp/rust-i18n/blob/main/LICENSE"
    ) }}
  </ul>
  <h4 class="language ja">Windows 限定</h4>
  <h4 class="language en">Windows only</h4>
  <ul>
    {{ macros::lib(
      name="windows-sys", copy="Copyright (c) Microsoft Corporation.",
      url="https://github.com/microsoft/windows-rs/blob/master/crates/libs/sys/license-mit"
    ) }}
  </ul>
  <h4 class="language ja">MacOS 限定</h4>
  <h4 class="language en">MacOS only</h4>
  <ul>
    {{ macros::lib(
      name="objc", copy="Copyright (c) Steven Sheldon",
      url="https://github.com/SSheldon/rust-objc/blob/master/LICENSE.txt"
    ) }}
    {{ macros::lib(
      name="core-graphics", copy="Copyright (c) 2012-2013 Mozilla Foundation",
      url="https://github.com/servo/core-foundation-rs/blob/master/core-graphics/LICENSE-MIT"
    ) }}
    {{ macros::lib(
      name="core-foundation", copy="Copyright (c) 2012-2013 Mozilla Foundation",
      url="https://github.com/servo/core-foundation-rs/blob/master/LICENSE-MIT"
    ) }}
  </ul>
  <h3>JavaScript</h3>
  <ul>
    {{ macros::lib(
      name="Darkmode.js", copy="Copyright (c) 2019 Sandoche ADITTANE",
      url="https://github.com/sandoche/Darkmode.js/blob/master/LICENSE"
    ) }}
  </ul>
{% endblock content %}