{% extends "layout.html" %}
{% block title %}Home{% endblock title %}
{% block head %}{{ super() }}
<script type="module">
  import {
    getExtensions, getExtension, updateExtensionSetting,
    reloadExtensions
  } from "./freedomwall/extensions.js";
  import { openFolder, getPath } from "./freedomwall/utils.js";
  window._openFolder = openFolder;
  window._reloadExtensions = reloadExtensions;

  let original = window.onload;
  window.onload = function () {
    let params = (new URL(location)).searchParams;
    if (params.get("extension")) {
      // 詳細や拡張機能設定
      let name = params.get("extension");
      document.getElementById("name").innerText = name;
      document.getElementById("normal").remove();
      let div = document.getElementById("detail");
      div.hidden = false;
      getExtension(name, data => {
        // 拡張機能のデータを代入していく。
        document.getElementById("description").innerText = data.description;
        document.getElementById("author").innerText = `Author: ${data.author}`;
        // 設定項目を作る。
        Object.keys(data.setting).forEach(key => {
          let escapedKey = window.escapeHTML(key);
          div.innerHTML += `
            <label for="setting-${escapedKey}">${escapedKey}</label>
            <input type="text" id="setting-${escapedKey}" class="setting" data-key="${escapedKey}" value="${window.escapeHTML(data.setting[key])}"></input>
          `;
        });
        div.innerHTML += `<br><br><button type="button" onclick="window._save('${name}');">Save</button>`;
        original();
      });
    } else {
      // 拡張機能一覧
      getPath(path => {
        window.__path__ = path;
        getExtensions(data => {
          let ul = document.getElementById("extensions");
          Object.keys(data).forEach(key => {
            let name = window.escapeHTML(key);
            ul.innerHTML += `<li><a href="./_extensions.html?extension=${name}">${name}</a></li>`;
          });
          original();
        });
      });
    };
  };

  window._save = function (name) {
    var data = {};
    for (let element of document.getElementsByClassName("setting")) {
      data[element.getAttribute("data-key")] = element.value;
    };
    updateExtensionSetting(name, data, () => {});
  };
</script>
{% endblock head %}
{% block content %}
  <div id="normal">
    <h1 id="subject">Extensions</h1>
    <div class="language ja">
      ここでは拡張機能の設定をすることができます。<br>
      拡張機能の追加はフォルダに拡張機能のデータが入ったフォルダを入れてください。
    </div>
    <div class="language en">
      Here you can configure the extension settings.<br>
      To add an extension, put a folder with the extension data in the folder.
    </div>
    <ul id="extensions">
    </ul><br>
    <button type="button" class="language ja" onclick="window._openFolder(`${window.__path__}extensions`, () => {});">拡張機能フォルダを開く</button>
    <button type="button" class="language en" onclick="window._openFolder(`${window.__path__}extensions`, () => {});">Open extensions folder</button>
    <button type="button" class="language ja" onclick="window._reloadExtensions();">再読み込み</button>
    <button type="button" class="language en" onclick="window._reloadExtensions();">Reload extensions</button>
  </div>
  <div id="detail" hidden>
    <a href="./_extensions.html" class="language ja">戻る</a>
    <a href="./_extensions.html" class="language en">Back</a>
    <h1 id="name"></h1>
    <p id="author"></p>
    <div id="description"></div><br>
    <h2 class="language ja">設定</h2><h2 class="language en">Setting</h2>
  </div>
{% endblock content %}