{% extends "layout.html" %}
{% block title %}Home{% endblock title %}
{% block head %}{{ super() }}{% endblock head %}
{% block content %}
  <h1 id="subject">Home</h1>
  <div class="language en">
    Here you can change the settings of FreedomWall.<br>
    Available wallpapers can be registered from Wallpapers.<br>
    Wallpaper settings can be made from Setting.
  </div>
  <div class="language ja">
    ここではFreedomWallの設定を変更することができます。<br>
    使用可能な壁紙はWallpapersから登録が可能です。<br>
    壁紙の設定はSettingから行うことができます。
  </div>
{% endblock content %}