<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <title>FreedomWall - {% block title %}{% endblock title %}</title>
  <meta name="description" content="FreedomWall's Setting Page">
  <meta name="author" content="tasuren">
  <link rel="stylesheet" href="./style.css" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
  <script>
    function addDarkmodeWidget() {
      new Darkmode().showWidget();
    }
    window.addEventListener('load', addDarkmodeWidget);
  </script>
  <script type="module">
    import { getLanguage } from "./freedomwall/setting.js";

    // ローディング表示の切り替えをする関数達です。
    window.loadingShow = function () {
      let overlay = document.getElementById("fullOverlay");
      overlay.style.display = "block";
      overlay.style.setProperty("z-index", 2147483647);
    };
    window.loadingHide = function () {
      let overlay = document.getElementById("fullOverlay");
      overlay.style.display = "none";
      overlay.style.setProperty("z-index", -1);
    };

    let beforeWindowOnLoad = window.onload;
    window.onload = function () {
      // 違う言語は削除する。
      getLanguage(language => {
        console.log(language);
        for (let element of document.getElementsByClassName("language")) {
          if (!element.classList.contains(language)) {
            element.hidden = true;
          };
        };
        window.loadingHide();
      }, 10);
      if (beforeWindowOnLoad) { beforeWindowOnLoad(); };
    };

    window.escapeHTML = function (str) {
      return str.replace(/&/g, '&amp;').replace(/</g, '&lt;')
          .replace(/>/g, '&gt;').replace(/"/g, '&quot;')
          .replace(/'/g, '&#39;');
    };
  </script>
  {% endblock head %}
</head>
<body>
  <div id="fullOverlay">
    <div class="text">Now loading...</div>
  </div>
  <div class="container">
    <div class="menu">
      <h1>Freedom Wall</h1>
      <ul>
        <li><a href="./_home.html">Home</a></li>
        <li><a href="./_setting.html">Setting</a></li>
        <li><a href="./_wallpapers.html">Wallpapers</a></li>
        <li><a href="./_extensions.html">Extensions</a></li>
      </ul>
    </div>
    <div class="content" id="main">
      {% block content %}{% endblock content %}
    </div>
  </div>
</body>
</html>