{% extends "layout.html" %}
{% block title %}Home{% endblock title %}
{% block head %}{{ super() }}
<script type="module">
  import {
    getLanguage, postLanguage,
    getWallpapers as getTargets,
    postWallpapers as postTargets,
    getInterval, postInterval,
    getDev, postDev
  } from "./freedomwall/setting.js";
  import { getWallpapers } from "./freedomwall/wallpapers.js";
  import { SILENT } from "./freedomwall/utils.js";
  window._postDev = postDev;

  let original = window.onload;
  window.onload = function () {
    let languageSelect = document.getElementById("language");
    // 言語設定を現在設定されているものにセレクトしておく。
    getLanguage(language => {
      for (let element of languageSelect.getElementsByTagName("option")) {
        if (element.value == language) {
          element.selected = true;
        };
      };

      // 使用可能な壁紙を追加する。
      getWallpapers(wallpapers => {
        let select = document.getElementById("add-wallpapers");

        Object.keys(wallpapers).forEach(key => {
          select.innerHTML += `<option value="${key}">${key}</option>`;
        });

        getTargets(targets => {
          let table = document.getElementById("wallpapers");

          window._addWallpaper = function (name) {
            targets.push({targets: ["nothing"], exceptions: [], alpha: 0.2, wallpaper: name});
            postTargets(targets);
          };

          window.editTargetFunctions = {};

          for (let index in targets) {
            let target = targets[index];
            let name = window.escapeHTML(target.wallpaper);
            window.editTargetFunctions[index] = function (uindex) {
              let rawTargets = document.getElementById(`${uindex}-targets`).value;
              targets[uindex].targets = rawTargets.split(",");
              let exceptions = document.getElementById(`${uindex}-exceptions`).value;
              targets[uindex].exceptions = exceptions ? exceptions.split(",") : [];
              targets[uindex].alpha = Number(document.getElementById(`${uindex}-alpha`).value);
              if (!rawTargets) targets.splice(uindex, 1);
              postTargets(targets);
            };
            table.innerHTML += `<tr>
              <td>${name}</td>
              <td><input id="${index}-targets" type="text" value="${window.escapeHTML(target.targets.join(","))}"></input></td>
              <td><input id="${index}-exceptions" type="text" value="${window.escapeHTML(target.exceptions.join(","))}"></input></td>
              <td><input id="${index}-alpha" min="0.0" max="1.0" step="0.05" type="number" value="${target.alpha}"></input></td>
              <td><button type="button" name="${index}" onclick="window.editTargetFunctions[this.name](${index});">Save</button></td>
            </tr>`;
          };

          getInterval(interval => {
            // インターバル設定
            let intervalInput = document.getElementById("interval");
            intervalInput.value = interval;
            window._postInterval = function () {
              postInterval(Number(intervalInput.value));
            };
            getDev(mode => {
              // 開発者モード
              document.getElementById("devMode").checked = mode;
              original();
            });
          });
        });
      });
    });
  };
  window._postLanguage = postLanguage;
</script>
{% endblock head %}
{% block content %}
  <h1 id="subject">Setting</h1>
  <div class="language ja">ここでは壁紙等の設定を行うことができます。</div>
  <div class="language en">Here you can set wallpaper and other settings.</div>
  <h2>General</h2>
  <h3 class="language en">Language</h3>
  <h3 class="language ja">言語設定</h3>
  <select onchange="window._postLanguage(this.value);" id="language" name="language">
    <option value="en">English</option>
    <option value="ja">日本語</option>
  </select>
  <h3 class="language en">Wallpaper settings</h3>
  <h3 class="language ja">壁紙設定</h3>
  <div class="language ja">
    ここではどのアプリにどの壁紙を付けるかの設定をすることができます。<br>
    設定する壁紙はWallpapersから登録してください。<br>
    右のSaveを押すことで設定の保存をすることができます。<br>
    設定を削除したい場合は対象の入力欄を空にしてください。
  </div>
  <div class="language en">
    Here you can set which wallpaper will be attached to which application.<br>
    Please register the wallpaper to be set from Wallpapers.<br>
    You can save your settings by pressing Save on the right.<br>
    If you want to delete a setting, leave the target entry field empty.
  </div>
  <br>
  <label for="add-wallpapers" class="language en">Add:</label>
  <label for="add-wallpapers" class="language ja">追加：</label>
  <select onchange="window._addWallpaper(this.value);" name="add-wallpapers" id="add-wallpapers">
    <option value="..." selected>...</option>
  </select>
  <br>
  <table id="wallpapers">
    <tr class="language ja">
      <th>壁紙</th><th>対象</th><th>例外</th><th>透明度</th><th>保存</th>
    </tr>
    <tr class="language en">
      <th>Wallpaper</th><th>Targets</th><th>Exceptions</th><th>Transparency</th><th>Save</th>
    </tr>
  </table>
  <h3 class="language en">Wallpaper window adjustment interval</h3>
  <h3 class="language ja">背景ウィンドウ調整間隔</h3>
  <div class="language ja">
    背景ウィンドウの位置とサイズを調整する間隔を設定します。
  </div>
  <div class="language en">
    Sets the interval at which to adjust the position and size of the background window.
  </div><br>
  <input type="number" step="0.01" id="interval" min="0" max="5" value=""></input>
  <button type="button" id="saveInterval" onclick="window._postInterval();">Save</button>
  <h3 class="language en">Developer mode (Reboot required)</h3>
  <h3 class="language ja">開発者モード (再起動必須)</h3>
  <input type="checkbox" id="devMode" onclick="window._postDev(this.checked);"></input>
{% endblock content %}