{% extends "layout.html" %}
{% block title %}Home{% endblock title %}
{% block head %}{{ super() }}
<script type="module">
  import { getWallpapers, postWallpaper, updateWallpaper } from "./freedomwall/wallpapers.js";
  import { getTemplates } from "./freedomwall/templates.js";
  import { open, openFolder, getPath, SILENT } from "./freedomwall/utils.js";
  window._openFolder = openFolder;

  let original = window.onload;
  window.onload = function () {
    let languageSelect = document.getElementById("language");
    let params = (new URL(location)).searchParams;
    if (params.has("wallpaper")) {
      // 壁紙一つの設定画面の場合
      document.getElementById("normal").hidden = true;
      let div = document.getElementById("wallpaperSetting");
      div.hidden = false;
      getWallpapers(wallpapers => {
        let name = params.get("wallpaper");
        // もし存在しないプロファイルの場合はリストにリダイレクトする。
        if (Object.keys(wallpapers).indexOf(name) === -1)
          location = location.pathname;
        let wallpaper = wallpapers[name];
        document.getElementById("wallpaperName").innerText = name;
        let escapedName = window.escapeHTML(name);
        div.innerHTML += `
          <label for="wallpaperName" class="language ja">名前</label>
          <label for="wallpaperName" class="language en">Name</label>
          <br>
          <input type="text" name="wallpaperName" data-name="name" class="wallpaperSetting" value="${escapedName}">
          <br>
          <label for="wallpaperAuthor" class="language ja">作者</label>
          <label for="wallpaperAuthor" class="language en">Author</label>
          <br>
          <input type="text" class="wallpaperSetting" id="wallpaperAuthor" data-name="author" name="wallpaperAuthor" value="${window.escapeHTML(wallpaper.author)}">
          <br>
          <label for="wallpaperDescription" class="language ja">説明</label>
          <label for="wallpaperDescription" class="language en">Description</label>
          <br>
          <textarea class="wallpaperSetting" data-name="description" id="wallpaperDescription" name="wallpaperDescription" rows="5" cols="50">${window.escapeHTML(wallpaper.description)}</textarea>
          <br>
          <label for="wallpaperSetting" class="language ja">設定</label>
          <label for="wallpaperSetting" class="language en">Setting</label>
          <br>
          <div>
            ${Object.keys(wallpaper.setting).map(key => {
              let value = window.escapeHTML(wallpaper.setting[key]);
              let name = window.escapeHTML(key);
              return `
                <label for="wallpaperSetting-${name}">${name}</label>
                <input type="text" name="wallpaperSetting-${name}" data-name="${name}" class="wallpaperSetting detail" id="wallpaperSetting-${name}" data-name="setting" value="${value}">
                ${key.toLowerCase().endsWith("path") ? `<button type="button" name="${name}" onclick="window._open(this.name);">Select</button>` : ""}
              `;
            }).join("<br>")}
          </div>
          <label for="wallpaperForceSize" class="language ja">サイズ強制</label>
          <label for="wallpaperForceSize" class="language en">Force adjustment size</label>
          <br>
          <input type="checkbox" class="wallpaperSetting" data-name="force_size" name="wallpaperForceSize"${wallpaper.force_size ? " checked" : ""}>
          <br><br>
          <button type="button" onclick="window._save('${escapedName}');" class="language ja">保存</button>
          <button type="button" onclick="window._save('${escapedName}');" class="language en">Save</button>
          <button type="button" onclick="window._remove('${escapedName}');" class="language ja">削除</button>
          <button type="button" onclick="window._remove('${escapedName}');" class="language en">Delete</button>
        `;

        original();
      });
    } else {
      getTemplates(templates => {
        // 追加可能な壁紙テンプレートをselectに追加する。
        let select = document.getElementById("add-wallpapers");
        var name = "";
        for (let template of templates.map(window.escapeHTML)) {
          select.innerHTML += `<option value="${template}">${template}</option>`;
        };
        getWallpapers(wallpapers => {
          // 壁紙一覧を作る。
          let ul = document.getElementById("wallpapers");
          var name;
          Object.keys(wallpapers).forEach(key => {
            name = window.escapeHTML(key);
            ul.innerHTML += `<li>
              <a href="./_wallpapers.html?wallpaper=${name}">${name}</a>
            </li>`;
          });
          getPath(path => {
            window.__path__ = path;
            original();
          });
        });
      });
    };
  };

  window._addWallpaper = function () {
    // 壁紙を追加する。
    postWallpaper(
      document.getElementById("add-wallpapers").value,
      window._safeName(document.getElementById("new-wallpaper-name").value) || template
    );
  };

  window._open = function (name) {
    // ファイルパスを取得する。
    window.loadingShow();
    open(path => {
      document.getElementById(`wallpaperSetting-${name}`)
        .value = path;
      window.loadingHide();
    });
  };

  window._save = function (name) {
    // セーブ
    let data = {setting: {}}; var callback = null;
    for (let element of document.getElementsByClassName("wallpaperSetting")) {
      let key = element.getAttribute("data-name");
      if (element.classList.contains("detail")) {
        data.setting[key] = element.value;
      } else if (key == "name" && element.value != name)
        callback = (_) => { updateWallpaper(name, element.value, "rename") }
      else data[key] = key == "force_size" ? element.checked : element.value;
    };
    updateWallpaper(name, data, "write", callback || ((_) => {}), !Boolean(callback));
  };

  // 削除
  window._remove = (name) => updateWallpaper(name, null, "remove");
</script>
{% endblock head %}
{% block content %}
  <div id="normal">
    <h1 id="subject">Wallpapers</h1>
    <div class="language ja">
      ここでは使用する壁紙の登録と削除と編集をすることが可能です。
    </div>
    <div class="language en">
      Here it is possible to register, delete and edit the wallpaper to be used.
    </div>
    <br>
    <input type="text" placeholder="Name | 名前" id="new-wallpaper-name">
    <select name="add-wallpapers" id="add-wallpapers">
      <option value="..." selected>...</option>
    </select>
    <button type="button" class="language ja" onclick="window._addWallpaper();">追加</button>
    <button type="button" class="language en" onclick="window._addWallpaper();">Add</button>
    <br>
    <ul id="wallpapers">
    </ul>
    <br>
    <button type="button" class="language ja" onclick="window._openFolder(`${window.__path__}wallpapers`, () => {});"> 壁紙フォルダを開く</button>
    <button type="button" class="language en" onclick="window._openFolder(`${window.__path__}wallpapers`, () => {});">Open wallpaper folder</button>
  </div>
  <div id="wallpaperSetting" hidden>
    <a href="./_wallpapers.html" class="language ja">戻る</a>
    <a href="./_wallpapers.html" class="language en">Back</a>
    <h1 id="wallpaperName"></h1>
  </div>
{% endblock content %}